$normal-font: ProximaNova-Regular;
$bold-font: ProximaNova-Bold;
.font18{ 
  font-size: 18px; 
}
.pd15,p.pd15{
 padding: 4px 0 15px; 
}
.pd50{
  padding-bottom: 50px!important;
}
.pd50{
  padding-bottom: 50px!important;
}
.pd20{
  padding-bottom: 20px!important;
}
.w70{
  width: 70px;
  display: inline-block;
  height: 30px;
}
.w50{
  width: 50px;
  display: inline-block;
  height: 30px;
}
.font-normal{
  font-weight: 200;
}
.cl-sd-wrapperSec{
  max-width: 1114px;
  width: 100%;
  margin: 0 auto;
}
.uk-modal-dialog-medium{
  width: 830px;
}






