$normal-font: ProximaNova-Regular;
$bold-font: ProximaNova-Bold;
.font18{ 
  font-size: 18px; 
}
.pt0{ 
  padding-bottom: 0; 
}
.pd10{ 
  padding-bottom: 10px; 
}
.pt10{ 
  padding-top: 10px; 
}
.pd15,p.pd15{
 padding: 4px 0 15px; 
}
.mb10{
  margin-bottom: 10px;
}
.mb30{
  margin-bottom: 30px;
}
.mb45{
  margin-bottom: 45px;
}
.mb60{
  margin-bottom: 60px;
}
.pb20{
  padding-bottom: 20px;
}
.mt30{
  margin-top: 30px;
}
.mt40{
  margin-top: 40px;
}
.mt50{
  margin-top: 50px;
}
.pt30{
  padding-top: 30px;
}
.pt70{
  padding-top: 70px;
}
.pb70{
  padding-bottom: 70px;
}
.pb50{
  padding-bottom: 50px;
}
.pb15{
  padding-bottom: 15px;
}
.pd50{
  padding-bottom: 50px!important;
}
.mb10{
  margin-bottom: 10px;
}
.mb30{
  margin-bottom: 30px !important;
}
.mb60{
  margin-bottom: 60px;
}
.mt30{
  margin-top: 30px !important;
}
.mt10{
  margin-top: 10px !important;
}
.mt20{
  margin-top: 20px !important;
}
.pt100{
  padding-top: 100px !important;
}
.pt170{
  padding-top: 170px !important;
}
.pt70{
  padding-top: 70px;
}
.pt35{
  padding-top: 35px!important;
}
.pd50{
  padding-bottom: 50px!important;
}
.pd20{
  padding-bottom: 20px!important;
}
.pt20{
  padding-top: 20px;
}
.pl60{
  padding-left: 60px;
}
.pl50{
  padding-left: 50px;
}
.mb50{
  margin-bottom: 50px !important;
}
.pt80{
  padding-top: 80px;
}
.pb35{
  padding-bottom: 35px !important;
}
.w70{
  width: 70px;
  display: inline-block;
  height: 30px;
}
.w50{
  width: 50px;
  display: inline-block;
  height: 30px;
}
.mb45{
  margin-bottom: 45px !important;
}
.mt15{
  margin-top: 15px !important;
}
.mt10{
  margin-top: 10px;
}
.mb25{
  margin-bottom: 25px;
}
.font-normal{
  font-weight: 200;
}
.cl-sd-wrapperSec{
  max-width: 1114px;
  width: 100%;
  margin: 0 auto;
}
.uk-modal-dialog-medium{
  width: 830px;
}






