
.cl-sr-section {
    display: block;
    margin: 0px;
    padding: 0px;    
    .cl-sr-subheader{
        background: #f0f0f0;
        padding: 20px;
        border-bottom: 1px solid #cccccc;
        padding: 20px;
        .uk-navbar{
            background-color: transparent;
        }
    }
    .cl-sr-navbar-link {
        .uk-button{
            background-color: transparent;
            background-image: none;
            border: 0px;
            text-shadow: none;            
            .fa-angle-down{
                color: $blue;
            }
        }
        .uk-dropdown:not(.uk-dropdown-stack) > .uk-dropdown-grid > [class*='uk-width-']:nth-child(n+2){
            border-left:0px;
        }
        .uk-dropdown:after,
        .uk-dropdown:before {
            bottom: 100%;
            left: 13%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        .uk-dropdown:after {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: $white;
            border-width: 14px;
            margin-left: -14px;
        }
        .uk-dropdown:before {
            border-color: rgba(194, 225, 245, 0);
            border-bottom-color: $greyLight;
            border-width: 15px;
            margin-left: -15px;
        }
        .uk-dropdown{
            /*width: 600px;*/
        }
        .cl-sr-dropdown-gender{
            padding-bottom: 20px;                
            .cl-sr-selectgender{
                margin-right: 15px;
                background-color: $white;
                cursor: pointer;
                display: inline-block;                
                input[type=radio] { 
                  border: 0;
                  clip: rect(0 0 0 0);
                  height: 1px;
                  margin: -1px;
                  overflow: hidden;
                  padding: 0;
                  position: absolute;
                  width: 1px;

                  &+ label{
                    position: relative;
                    &:before{
                      font-family: FontAwesome;
                      display: inline-block;
                      content: "\f10c";
                      font-size: 16px;
                      color: $blue;
                      width: 20px;
                      /*position: absolute;*/
                      top:0px;
                      left: 50%;
                      /*margin-left: -10px;*/
                    }
                  }
                  &:checked + label{
                    &:before{
                      content: "\f058";
                      font-size: 16px;
                      color: $blue;
                    }
                  }
                }
            }              
        }
        h5{
            color: $greyLight;
        }
        .cl-sr-selectradiobox{
            vertical-align: middle;
            height: 16px;
            width: 16px;
         
        }     
        .cl-sr-checklist{
           .tandc{
              label{
                color: $grey;
                font-size: 14px;
                font-weight: 200;
                padding: 0px 12px 0px 0px;
                margin: 0px 8px 6px 0;
                display: block;
                cursor: pointer;
                position: relative;
                &.comingsoon{
                  /*&:before{
                    color: $grey;
                  }*/
                  &:after{
                    content: 'Coming Soon';
                    position: absolute;
                    bottom: -25px;
                    left: 50%;
                    font-size: 14px;
                    color: $grey;
                    width: 100%;
                    margin-left: -40px;
                  }
                }
              }
              input[type=checkbox] { 
                display:none; 
                &+ label{              
                  &:before{
                    font-family: FontAwesome;
                    display: inline-block;
                    font-size: 18px;
                    color: $blue;
                    vertical-align: middle;
                    content: "\f096";
                    padding-right: 6px;
                    width: 20px;
                    &:hover{
                      color: $blue;
                    }
                  }
                  &:hover{
                    &:before{
                      color: $blue;
                    }
                  }
                  &.comingsoon{
                    &:before{
                      color: $grey;
                    }
                  }
                }
                &:checked + label{
                  color: $secondary-color;
                  &:before{
                    content: "\f14a";
                    padding-right: 6px;
                    color: $blue;
                    font-size: 18px;
                  }
                }
              }
            }     
        }
        .sr-subnav-borderbottom{
            border-bottom: 1px $greyLight solid;
            padding-bottom: 15px;
            margin-bottom: 15px;     
        }
        .sr-dd-show{
            .cl-verified-col{
                display: table;
                width: 100%;
                .lcol{
                    display: table-cell;
                    vertical-align: top;
                    width: 20px;
                    height: 20px;    
                    svg {
                        width: 25px;
                        height: 22px;
                        display: inline-block;
                        vertical-align: middle;
                        float: none;
                    }
                }
                .rcol{
                    display: table-cell;
                    vertical-align: middle;
                    padding-left: 10px;
                }
            }
        }
        h6{
            font-size: 12px;
            color: $greyLight;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
        p{
            font-size: 14px;
            color: $grey;
            margin: 0px;
            line-height: 16px;
        }
        .uk-align-left{
            margin-bottom: 0px;
        }
        .sr-dd-searchlink{
            font-size: 16px;
            font-weight: bold;
            color: $orange;
            text-transform: uppercase;
            text-align: left;
            float: left;
            &:hover{
                text-decoration: none;
            }
        }
        .sr-dd-cancellink{
            font-size: 16px;
            font-weight: bold;
            color: $grey;
            text-transform: uppercase;
            text-align: right;
            float: right;
            &:hover{
                text-decoration: none;
            }
        }
        .cl-sd-switchOuter {
            text-align: right;
            padding: 10px 0 0 0;           
            .cl-sd-switch {
                display: inline-block;
                height: 12px;
                position: relative;
                width: 32px;
                input[type=checkbox] {
                  display:none;
                  &:checked{
                    & + .cl-sd-slider{
                      background-color: rgba(66,183,219, 0.50);
                      &:before{
                        transform: translateX(20px);
                          background-color: #42B7DB;
                      }
                    }
                  }
                }
                .cl-sd-slider{
                  background-color: $semiDarkGray;
                  bottom: 0;
                  cursor: pointer;
                  left: 0;
                  position: absolute;
                  right: 0;
                  top: 0;
                  transition: .4s;
                    &:before {
                        background-color: $grey;
                        bottom: -3px;
                        content: "";
                        height: 18px;
                        left: -2px;
                        position: absolute;
                        transition: .4s;
                        width: 18px;
                      }
                    &.cl-sd-round {
                        border-radius: 34px;
                        &:before {
                          border-radius: 50%;
                        }
                    }
                }         
            }
        }
        .cl-sr-nav-athlete{
            width: 620px;
        }
        .cl-sr-nav-trainer{
            width: 717px;
        }
        .cl-sr-nav-price{
            width: 310px;
        }
        .cl-sr-nav-distance{
            width: 310px; 
           .cl-sr-distance-dropdown{
                display: block;
                overflow: hidden;
                .cl-sr-distance-left{
                    width: 80%;
                    float: left;
                }
                .cl-sr-distance-right{
                    width: 20%;
                    float: right;
                }
            } 
        } 
    }  
    .cl-sr-bodycontent{   
        .cl-sr-filtercont-lcol{
            background-color: #f7f7f7;
            max-height: 620px;
            height: 620px;
            overflow-y: auto;
            /*padding: 20px 15px;*/  
            .cl-sr-boxcontainer{
                margin: 0 auto;
                max-width: 1220px;
                padding-left: 35px;
                padding-right: 35px;
                padding-top: 20px;
                padding-bottom: 30px;
                .cl-sr-bottomsection{
                    border-top: 1px #cccccc solid;
                    padding: 30px 0px;
                    margin-top: 35px;
                    ul{
                        padding-left: 0px;
                        margin-bottom: 0px;
                        li{
                            display: inline-block;
                            list-style-type: none;
                            margin-right: 10px;
                            line-height: 25px;
                            a{
                                font-size: 14px;
                                color: $grey;
                            }
                            .fa-angle-right{
                                color: #4a4a4a;
                                font-size: 14px;
                                vertical-align: middle;
                                padding-left: 5px;
                            }
                        }
                    }
                    .cl-sr-bottom-listcontent{
                        
                        .uk-grid{
                            div{
                                margin-top: 30px;
                            }
                        }
                        p{
                            color: $lightBlack;
                            font-size: 14px;
                            margin-bottom: 5px;
                        }
                        ul{
                            margin-top: 0px;
                            li{
                                font-size: 14px;
                                color: $grey;
                                a{
                                    &:hover{
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
                
                .cl-sr-selected-filters{
                    padding: 0px;
                    ul.selected_filters{
                        padding: 0px 0px 20px 0px;
                        margin: 0px;
                        li{
                            display: inline-block;
                            list-style: none;
                            font-size: 14px;
                            color: #231E1B;
                            margin-right: 5px;
                            padding: 3px 10px;
                            border-radius: 9px;
                            margin-bottom: 9px;
                            &:nth-child(-n+3){
                                background-color: #D2F2B1;
                            }
                            &:nth-child(4), &:nth-child(5){
                                background-color: #C4E9F4;
                            }
                            &:nth-child(6){
                                background-color: #B4CBF5;
                            }
                            &:nth-child(7){
                                background-color: #FADDB6;
                            }
                            &:nth-child(8){
                                background-color: #FFE48A;
                            }
                            a{
                                color: $grey;
                                margin-left: 5px;
                            }
                        }
                        
                    }
                }
                .top_filter{
                    display: block;
                    height: 25px;
                    .cl-sr-mostpopular-dropdown{
                            margin-top: 13px;
                            position: absolute;
                            background-color: #fff;
                            border: 1px solid #b3b3b3;
                            border-radius: 4px;
                            padding: 0;
                            top: 26px;
                            left: -98px !important;
                            min-width: 220px;
                            ul{
                                display: block;
                                margin: 0px;
                                padding: 0px;
                                list-style: none;
                                border-radius: 4px;
                                overflow: hidden;
                                li{
                                    display: block;
                                    float: unset;
                                    margin: 0px;
                                    padding: 0px;
                                    border-bottom:1px #ccc  solid;
                                    &:hover{
                                        color: #4B4B4B;
                                        background-color: #e9edf7;
                                    }
                                    &:last-child{
                                        border-bottom: 0px;
                                    }
                                    a{
                                        font-size: 16px;
                                        line-height: 32px;
                                        font-weight: 400;
                                        color: $grey;
                                        text-decoration: none;
                                        padding: 10px 20px;
                                        margin: 0px;
                                        .fa-angle-right{
                                            float: right;
                                            vertical-align: middle;
                                            padding-top: 6px;
                                            color: #42B7DB;
                                        }
                                        &:hover{
                                            background-color: #e9edf7;
                                        }
                                    }
                                }
                            }
                       } 
                    .cl-sr-mostpopular-dropdown:after,
                    .cl-sr-mostpopular-dropdown:before {
                        bottom: 100%;
                        left: 73%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                    }
                    .cl-sr-mostpopular-dropdown:after {
                        border-color: rgba(136, 183, 213, 0);
                        border-bottom-color: $white;
                        border-width: 14px;
                        margin-left: -14px;
                    }
                    .cl-sr-mostpopular-dropdown:before {
                        border-color: rgba(194, 225, 245, 0);
                        border-bottom-color: $grey;
                        border-width: 15px;
                        margin-left: -15px;
                    }  
                    .uk-subnav{
                        margin-bottom: 0px;
                    }
                    span{
                        display: inline-block;
                        font-size: 14px;
                        color: #666666;
                        margin-right: 10px;
                    }
                    .fa-circle{
                        font-size: 8px;
                        padding-right: 15px;
                        padding-left: 5px;
                        vertical-align: middle;
                        color: #95989A;
                    }
                    ul{
                        li{
                            display: inline-block;
                            font-size: 14px;
                            color: $grey;
                            margin-right: 0px;
                            a{
                                padding-right: 0px;
                            }
                            .fa-circle{
                                font-size: 8px;
                                padding-right: 20px;
                                color: $bulletColor;
                                vertical-align: middle;
                            }
                        }
                    }
                    ul.cl-sr-mostpopular{
                        li{
                            a{
                                &:hover{
                                    background-color: transparent;
                                }
                            }
                        }
                        float: right;
                        &:hover{
                            background-color: transparent;
                        }
                        .fa-angle-down{
                            color: $blue;
                            padding-left: 10px;
                        } 
                        &:before{
                          content: '';
                          position: absolute;
                          top: -15px;
                          left: 10px;
                          border-bottom:15px solid $white;
                          border-left:15px solid transparent;
                          border-right:15px solid transparent;
                        }
                        &:after{
                          content: '';
                          position: absolute;
                          top: -16px;
                          left: 9px;
                          border-bottom:16px solid $semiDarkGray;
                          border-left:16px solid transparent;
                          border-right:16px solid transparent;
                          z-index: -1;
                        }
                        .uk-nav-dropdown{
                            &:hover{
                                background-color: #fff;
                            }
                            
                        }
                        .uk-dropdown-small{
                            &:hover{
                                background-color: #fff;
                            }
                        }
                    }
                    .cl-sr-mapview{
                        float: right;
                        font-size: 14px;
                        color: $grey;
                        a{
                            color: $grey;
                        }
                    }   
                }
            }
            .filter_content{              
                .uk-panel-box {
                    padding: 15px;
                    background: #ffffff;
                    border: 1px solid #cccccc;
                    border-radius: 8px;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
                    margin-top: 30px;
                        &:hover{
                            border: 1px #F15E23 solid;
                            .uk-panel-teaser{
                                .cl-icon-favourite{
                                    display: block;
                                }    
                            }
                            
                            .cl-sr-box-slider{
                                ul.uk-slideshow {
                                    height: 160px;
                                    li{
                                        img{
                                            width: 100%;
                                            height: 160px !important;
                                            object-fit: cover;
                                        }
                                    }
                                }
                                .uk-slidenav{
                                    position: absolute;
                                    top: 20%;
                                }
                                .uk-slidenav-next{
                                    right: 0;
                                }
                                .uk-slidenav-next:before, .uk-slidenav-previous:before{
                                    font-size: 30px;
                                    color: $white;
                                }
                                .uk-dotnav{
                                    display: flex;
                                }
                                .uk-slidenav{
                                    display: inline-block;
                                }
                            }
                        }
                        .cl-sr-box-slider{
                            ul.uk-slideshow {
                                height: 160px;
                                li{
                                    img{
                                        width: 100%;
                                        height: 160px !important;
                                        object-fit: cover;
                                    }
                                }
                            }
                            .uk-dotnav, .uk-slidenav{
                                display: none;
                            }
                            .uk-dotnav > li > a {
                                width: 10px;
                                height: 10px;
                                background-color: $white;
                                border: 1px #707070 solid;
                            }
                            .uk-dotnav-contrast > .uk-active > *{
                                background-color: $orange;
                                border: 1px #ffffff solid;
                            }
                        }
                    .uk-panel-teaser{
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                        overflow: hidden;
                        position: relative;
                        img{
                            height: 160px;
                            width: 100%;
                        }    
                        
                        .cl-icon-favourite{
                            position: absolute;
                            right: 15px;
                            top: 15px;
                            z-index: 10; 
                            display: none;
                            .cl-icon-fav-on{
                                display: block;
                                width: 18px;
                                height: 18px;
                                cursor: pointer;                             
                                .cl-icon-fav-1 {
                                    fill: #f15e23;
                                    fill-rule: evenodd;
                                  }
                                .cl-icon-fav-2, .cl-icon-fav-3 {
                                    stroke: none;
                                  }
                                .cl-icon-fav-3 {
                                    fill: #fff;
                                  }
                            }
                            .cl-icon-fav-on.active{                               
                                .cl-icon-fav-1 {
                                    fill: $grey;
                                    fill-rule: evenodd;
                                  }
                                .cl-icon-fav-2, .cl-icon-fav-3 {
                                    stroke: none;
                                  }
                                .cl-icon-fav-3 {
                                    fill: #fff;
                                  }
                            }
                        }
                    }
                }
                .uk-panel-box.selected{
                    border: 1px #F15E23 solid;
                }
                
            }
            
        }
        .cl-filterbox-content{
            .cl-filterBy{
                display: table;
                font-size: 12px;
                color: $grey;
                .yoga{
                    display: table-cell;
                    padding-right: 15px;
                }
                .location{
                    display: table-cell;
                }
                .fa-circle{
                    font-size: 6px;
                    padding-right: 7px;
                    padding-left: 5px;
                    vertical-align: middle;
                    color: #95989A;
                }
            }
            .cl-resultStatus{
                padding-bottom: 5px;
                overflow: hidden;            
                .nameBy{
                    font-size:16px;
                    font-weight: bold;
                    color: $gray-hover-color;
                    float: left;
                    padding-right: 15px;
                }
                .verified{
                    height: 16px;
                    width: 16px;
                    float: left;
                    padding-right: 15px;
                }
                .iconBy{
                    height: 16px;
                    width: 15px;
                    float: left;
                      .cl-icon-individual1 {
                        fill: gray;
                        stroke-width: 0.5px;
                      }

                      .cl-icon-individual1, .cl-icon-individual2 {
                        stroke: gray;
                        stroke-linecap: square;
                        fill-rule: evenodd;
                      }

                      .cl-icon-individual2 {
                        fill: none;
                      }
                    .cl-icon-facility-1, .cl-icon-facility-2 {
                        fill: none;
                      }

                      .cl-icon-facility-1, .cl-icon-facility-2, .cl-icon-facility-3 {
                        stroke: gray;
                        fill-rule: evenodd;
                      }

                      .cl-icon-facility-1, .cl-icon-facility-3 {
                        stroke-linecap: round;
                        stroke-linejoin: round;
                      }

                      .cl-icon-facility-3 {
                    fill: gray;
                  }
                    
                      .cl-icon-camp-1, .cl-icon-camp-2 {
                        fill: gray;
                        stroke: gray;
                      }

                      .cl-icon-camp-2 {
                        stroke-linecap: square;
                        fill-rule: evenodd;
                      }
                      .cl-icon-clinic-1 {
                        fill: gray;
                      }
                      .cl-icon-business-1 {
                        fill: gray;
                      }
                }
            }
            .sec-rating label svg {
                width: 14px;
                height: 14px;
            }
            .sec-rating{
                .review {
                    color: #666666;
                    font-size: 12px;
                    top: 1px;
                    left: 3px;
                }
                .cl-icon-star-half-1 {
                    fill: #fff;
                  }
                .cl-icon-star-half-2 {
                    fill: #b3b3b3;
                }
                .cl-icon-star-half-2, .cl-icon-star-half-4 {
                    fill-rule: evenodd;
                }
                .cl-icon-star-half-3 {
                    clip-path: url(#clip-path);
                }
                .cl-icon-star-half-4 {
                    fill: #f15e23;
                }
            }      
            .reviews-info {
                width: auto;
                display: inline-block;
                padding-right: 28px;
            }
            p{
                font-size: 14px;
                color: $grey;
                font-weight: normal;
                line-height: 18px;
            }
        }
        .cl-sr-map{
            padding: 0px;
            iframe{
                height: 100%;
            }
        }
        
    }
}
 
@media (max-width: 1219px){
    .cl-sr-section{
        .uk-panel-teaser{
            img{
                height: auto;
                width:100%;
            } 
        }
    }
}
@media (max-width: 959px){
    .cl-sr-section{
        .top_filter{
            span{
                font-size:13px;
                margin-right: 0px;
            } 
        }
    }
}
@media (min-width: 768px){
   .cl-sr-section{
       .deskview {
            display: block!important;
        } 
        .mobileview {
            display: none !important;
        }
    }
}
@media (max-width: 767px){
    .cl-sr-section {
        .cl-sr-bodycontent{
            .cl-sr-filtercont-lcol{
                .cl-sr-boxcontainer{
                    .top_filter{
                        span{
                            display: none;
                        }
                        ul.uk-subnav-pill{
                            float: left;
                        }
                        .uk-dropdown-small{
                            background-color: #fff;
                            margin-top: 14px;
                            margin-left: 10px;
                            left: 0px;
                            width: 220px;
                            li{
                                cursor: pointer;
                                padding: 5px 0;
                            }
                        }
                        .cl-sr-mostpopular-dropdown:after,
                        .cl-sr-mostpopular-dropdown:before {
                            left: 20%;
                        }
                    }
                }
                
            }         
        }
        .deskview {
            display: none !important;
        }
        .mobileview {
            display: block !important;
        }
        .cl-sr-subheader{
            padding-bottom: 0px;
            padding-top: 0px;
        }
        .cl-sr-mobileoffmenu{
            width:99%;
            .cl-sr-mobilemenu{
            background-color: $head-sub-color;
            width: 100% !important;
            display: block !important;
           .uk-button {
                background: unset;
                padding-right: 0px;
                border: none;
                .cl-icon-bars {
                    fill: $grey;
                    height: 50px;
                    padding: 15px 0px;
                }
                &:focus + &:hover {
                    background-color: transparent;
                    color: #444;
                    outline: none;
                    text-decoration: none;
                }
            }          
            .uk-nav.uk-nav-dropdown {
                margin: 0px;
                padding: 0px;  
                li {
                    padding: 0px 0px;
                    background: transparent;
                    border-radius: 0px;
                    border: none;
                    padding: 18px 0;
                    margin-bottom: 0px;
                    color: $grey;
                    margin-top: 0px;
                    font-size: 16px;
                    cursor: pointer;
                    a {
                        display: block;
                        padding: 20px 0px;
                        font-size: 16px;
                        line-height: 22px;
                        color: $grey;
                        text-decoration: none;
                        border-radius: 0px;
                        &:hover {
                            background-color: $blueLight;
                            color: $greyDark;
                        }
                    }
                }
                li.uk-parent {
                    a {
                        background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-3865.545 2061.833 17.49 9.052'><path data-name='Path 184' fill='none' stroke='#42B7DB' stroke-width='3px' d='M0-.2l8.4,8,8.4-8' transform='translate(-3865.201 2062.396)'/></svg>") no-repeat;
                        background-size: 12px;
                        background-position: 96% center;

                        -webkit-transition-duration: 0s;
                        -moz-transition-duration: 0s;
                        -o-transition-duration: 0s;
                        transition-duration: 0s;
                        padding: 0px;
                    }
                    ul.uk-nav-sub {   
                        padding: 0px;
                        background-color: transparent;
                        li {
                            background: url(../images/chevron-right.svg) no-repeat 96%;
                            background-size: 7px;
                            border-top: 1px #ccc solid;
                            a {
                                background: none;
                                background-size: 0px;
                                background-position: 225px center;
                                background-color: transparent;
                                font-size: 14px;
                                line-height: 20px;
                                -webkit-transition-duration: 0s;
                                -moz-transition-duration: 0s;
                                -o-transition-duration: 0s;
                                transition-duration: 0s;
                            }
                        }
                    }
                }			
                li.uk-parent.uk-open{
                    background-color: $head-sub-color;
                    a {
                        background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='195.466 447.428 18.869 11.158'><path data-name='Path 185' fill='none' stroke='#42B7DB' stroke-width='3px' d='M0-.2l8.4,8,8.4-8'  transform='translate(213.3 457.3) rotate(180)'/></svg>") no-repeat;
                        background-size: 12px;
                        background-position: 96% 9px;
                        font-size: 16px;
                        color: $grey;
                        padding-bottom: 18px;
                    }
                    ul.uk-nav-sub {
                        padding: 0px;
                        background-color: transparent;
                        li {
                            background-color: transparent;
                            a {
                                background: none;
                                background-size: 0px;
                                background-position: 225px center;
                            }
                        }
                    }
                    a.sr-dd-searchlink{
                        font-size: 16px;
                        font-weight: bold;
                        color: $orange;
                        text-transform: uppercase;
                        text-align: left;
                        display: block;
                        padding-left: 0;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    a.sr-dd-cancellink{
                        font-size: 16px;
                        font-weight: bold;
                        color: $orange;
                        text-transform: uppercase;
                        text-align: left;
                        display: block;
                        padding-left: 0;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                } 
                li.uk-nav-header {
                    padding: 0px 15px;
                }            
            }
        }
        }
        .uk-offcanvas-bar {
            background-color: $white;
            .uk-accordion-content {
                padding: 20px 0 20px;
                h3{
                    font-size: 16px;
                    color: $grey;
                    font-weight: bold;
                    border-bottom: 1px #ccc solid;
                    padding: 0px 15px 15px 15px;
                }

                h5 {
                    color: $grey;
                    font-size: 12px;
                }
                .cl-sr-dropdown-gender {
                    padding: 0px 15px;
                    h5 {
                         color: $grey;
                         font-size: 12px;
                     }
                } 
                .cl-sr-selectgender {
                    margin-right: 5px;
                    background-color: transparent;
                    cursor: pointer;
                    display: inline-block;
                    input[type=radio] { 
                      border: 0;
                      clip: rect(0 0 0 0);
                      height: 1px;
                      margin: -1px;
                      overflow: hidden;
                      padding: 0;
                      position: absolute;
                      width: 1px;

                      &+ label{
                        position: relative;
                          font-size: 14px;
                          color: $grey;
                        &:before{
                          font-family: FontAwesome;
                          display: inline-block;
                          content: "\f10c";
                          font-size: 16px;
                          color: $blue;
                          width: 20px;
                          /*position: absolute;*/
                          top:0px;
                          left: 50%;
                          /*margin-left: -10px;*/
                        }
                      }
                      &:checked + label{
                        &:before{
                          content: "\f058";
                          font-size: 16px;
                          color: $blue;
                        }
                      }
                    }
                }
                .cl-sr-dropdown-gender{
                    padding-bottom: 15px;
                }
                .cl-sr-checklist{
                    padding: 0px 15px;
                    h5{
                         color: $grey;
                         font-size: 12px;
                     }
                   .tandc{
                      label{
                        color: $grey;
                        font-size: 14px;
                        font-weight: 200;
                        padding: 0px 12px 0px 0px;
                        margin: 0px 8px 6px 0;
                        display: block;
                        cursor: pointer;
                        position: relative;
                        &.comingsoon{
                          /*&:before{
                            color: $grey;
                          }*/
                          &:after{
                            content: 'Coming Soon';
                            position: absolute;
                            bottom: -25px;
                            left: 50%;
                            font-size: 14px;
                            color: $grey;
                            width: 100%;
                            margin-left: -40px;
                          }
                        }
                    }
                      input[type=checkbox] { 
                        display:none; 
                        &+ label{              
                          &:before{
                            font-family: FontAwesome;
                            display: inline-block;
                            font-size: 18px;
                            color: $blue;
                            vertical-align: middle;
                            content: "\f096";
                            padding-right: 6px;
                            width: 20px;
                            &:hover{
                              color: $blue;
                            }
                          }
                          &:hover{
                            &:before{
                              color: $blue;
                            }
                          }
                          &.comingsoon{
                            &:before{
                              color: $grey;
                            }
                          }
                        }
                        &:checked + label{
                          color: $secondary-color;
                          &:before{
                            content: "\f14a";
                            padding-right: 6px;
                            color: $blue;
                            font-size: 18px;
                          }
                        }
                    }
                    }
                }
                .sr-subnav-borderbottom{
                    border-bottom: 1px $greyLight solid;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                }
                .sr-dd-searchlink, .sr-dd-cancellink{
                    padding: 0px 15px;
                    font-size: 16px;
                    color: $orange;
                    font-weight: bold;
                    &:hover{
                        text-decoration: none;
                    }
                }
                .cl-sr-leftcont{
                    float: left;
                    width: 70%;
                    p{
                        font-size: 14px;
                        color: $grey;
                    }
                    .cl-verified-col{
                        display: table;
                        width: 100%;
                        .lcol{
                            display: table-cell;
                            vertical-align: top;
                            width: 14px;
                            height: 12px;
                            svg {
                                width: 25px;
                                height: 22px;
                                display: inline-block;
                                vertical-align: middle;
                                float: none;
                            }
                        }
                        .rcol{
                            display: table-cell;
                            vertical-align: middle;
                            padding-left: 10px;
                            padding-top: 3px;
                            h6{
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
                .cl-sr-rightcont{
                    width: 10%;
                    float: right;
                    padding-left: 0;
                    vertical-align: middle;
                    margin-top: 11%;
                    text-align: right;
                    .cl-sd-switchOuter {
                        text-align: right;
                        padding: 10px 0 0 0;
                        .cl-sd-switch {
                            display: inline-block;
                            height: 12px;
                            position: relative;
                            width: 32px;

                            input[type=checkbox] {
                              display:none;
                              &:checked{
                                & + .cl-sd-slider{
                                  background-color: rgba(66,183,219, 0.50);
                                  &:before{
                                    transform: translateX(20px);
                                      background-color: #42B7DB;
                                  }
                                }
                              }
                            }
                            .cl-sd-slider{
                              background-color: $semiDarkGray;
                              bottom: 0;
                              cursor: pointer;
                              left: 0;
                              position: absolute;
                              right: 0;
                              top: 0;
                              transition: .4s;
                                  &:before {
                                    background-color: $grey;
                                    bottom: -3px;
                                    content: "";
                                    height: 18px;
                                    left: -2px;
                                    position: absolute;
                                    transition: .4s;
                                    width: 18px;
                                  }
                                  &.cl-sd-round {
                                    border-radius: 34px;
                                    &:before {
                                      border-radius: 50%;
                                    }
                                }
                            }
                        }
                    }
                }    
                .cl-sr-leftspace{
                    padding: 0px 15px;
                }
            }
        }
    }
}
@media only screen and (max-width: 474px) {
    .cl-sr-section {
		.uk-width-xsmall-1{
			width: 100%;
		}
	}
}