
$grey: #666666;

$button-font-size: 18px;

$normal-font: ProximaNova-Regular;
$bold-font: ProximaNova-Bold;

$body-color: #f5f5f5;

$head-sub-color: #f0f0f0;
$secondary-color: #231e1b;

$gray-hover-color: #555149;

$orange-color: #ff913d;
$green-color: #84c54b;
$purple-color: #d179ce;
$red-color: #d0021b;
$yellow-color: #ffc53e;
$error-color: #ed485b;

$lightGrayOne: #fafafa;

$lightGray: #f5f5f5;
$semiDarkGray: #cccccc;

$semiBlack: #555149;
$semiBlackHover: #231e1b;
$fullBlack: #000000;

$lavender: #f0f4fc;
$suvagrey: #8c8c8c;
$conifer: #90db56;
$heliotrope: #c47ef1;
$caramel: #ffda99;
$solitude: #f2f4f7;
$nobel: #999999;
$gorse: #fff233;


$orange: #F15E23;
$orangeDark: #dd4400;
$orangemoreDark: #C91818;
$lightOrange: #F3E0E0;

$white: #fff;

$greyLight: #b3b3b3;
$greyLighter: #DFDFDF;

$greyDark: #4B4B4B;

$blue: #42B7DB;
$blueLight:#ebf7fb;
$blueLighter: #e9edf7;
$blueDark: #1281A2;
$blueNavy :#236FF1;
$bulletColor:#95989a;
$lightGreen:#A6D885;

$lightBlack:#4d4d4d ;

$offwhite: #FCFCFC;
